#pragma once

// Credenciales Wi-Fi.
static const char* WIFI_SSID = "NOMBRE_DE_TU_WIFI";
static const char* WIFI_PASSWORD = "CONTRASENA_DE_TU_WIFI";

// URL base del backend en la LAN.
// Ejemplo: http://192.168.0.29:8000/api/v1
static const char* API_BASE_URL = "http://IP_DE_TU_PC:8000/api/v1";

// Actualmente el backend no exige API key.
static const char* DEVICE_API_KEY = "";
